<!--
  Generated template for the LoginTPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>
            <div text-center>เข้าสู่ระบบ</div>
        </ion-title>

    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="text" [value]="id" [(ngModel)]="id"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" [value]="password" [(ngModel)]="password"></ion-input>
        </ion-item>
    </ion-list>
    <div padding>
        <button ion-button color="primary" block (click)="login(id,password);">ลงชื่อเข้าใช้</button>
    </div>
</ion-content>