<!--
  Generated template for the InsideSubjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title style="text-align: center">รายวิชา</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item>
        <h3>ชื่อวิชา : {{subjectname}}</h3>
    </ion-item>
    <ion-item>
        <h3>รหัสวิชา-กลุ่ม : {{subjectid}}</h3>
    </ion-item>
    

    <br>
    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label color="primary">กรอกโค้ด</ion-label>

                <ion-input placeholder="กรุณาใส่โค้ด" [value]="codecheckname" [(ngModel)]="codecheckname"></ion-input>

            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-content padding>

        <br>
        <div text-center align-items-center>
            <button ion-button (click)="Stucheckname(codecheckname)">เช็คชื่อ</button>

        </div>

    </ion-content>