<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>
            <div text-center>ลงทะเบียน</div>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label>ชื่อนำ</ion-label>
            <ion-select [(ngModel)]="m">
                <ion-option value="นาย">นาย</ion-option>
                <ion-option value="นางสาว">นางสาว</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <ion-item>
        <ion-label fixed>ชื่อ-สกุล</ion-label>
        <ion-input type="text" [value]="name" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label fixed>รหัสนิสิต</ion-label>
        <ion-input type="text" [value]="id" [(ngModel)]="id"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label fixed>คณะ</ion-label>
        <ion-input type="text" [value]="fauclty" [(ngModel)]="fauclty"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label fixed>สาขา</ion-label>
        <ion-input type="text" [value]="major" [(ngModel)]="major"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input type="Email" placeholder="59160792@go.buu.ac.th" [value]="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label fixed>รหัสผ่าน</ion-label>
        <ion-input type="password" [value]="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label fixed>ยืนยันรหัสผ่าน </ion-label>
        <ion-input type="password" [value]="confirmPassword" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>

    <div text-center align-items-center>
        <button ion-button style="float:center" (click)="register(m,name,id,fauclty,major,email,password,confirmPassword)">ตกลง</button>
    </div>

</ion-content>