<!--
  Generated template for the JoinclassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>เข้าร่วมชั้นเรียน</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>



        <ion-card-content>
            <ion-item>
                <ion-input type="text" placeholder="รหัสเข้าชั้นเรียน" [value]="code_joine" [(ngModel)]="code_joine"></ion-input>
            </ion-item>
        </ion-card-content>

    </ion-card>
    <br>
    <div text-center align-items-center>
        <button ion-button style="float:center" (click)="gotoclassSubject(code_joine)">เข้าร่วมชั้นเรียน</button>
    </div>

</ion-content>