<!--
  Generated template for the CheckSumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>ผลรวมการเช็คชื่อ</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <h1>จำนวนครั้งทั้งหมด {{sum_studeninclass}}</h1>
    <ion-item *ngFor="let item1 of sum_data">
        {{item1.id}} {{item1.name}}
        <h1>รวม {{item1.sum}}</h1>
    </ion-item>
</ion-content>