<!--
  Generated template for the StudentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title style="text-align: center">
            <div text-center><h1>นักศึกษา</h1></div>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <br>

    <button ion-button color="primary" block (click)="login()">เข้าสู่ระบบ</button>
    <br>


    <button ion-button color="primary" block (click)="register()">ลงทะเบียน</button>

</ion-content>