<!--
  Generated template for the CreateclassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>สร้างห้องเรียน</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-input type="text" placeholder="รหัสวิชา-กลุ่ม" [value]="id" [(ngModel)]="id"></ion-input>
                <br>
                <ion-input type="text" placeholder="ชื่อวิชา" [value]="namesubject" [(ngModel)]="namesubject"></ion-input>
                <br>
                
            </ion-item>

        </ion-card-content>

    </ion-card>
    <br>
    <div text-center align-items-center>
        <button ion-button style="float:center" (click)="createsubject(id,namesubject,group)">สร้างห้องเรียน</button>
    </div>

</ion-content>