<ion-header>
    <ion-navbar>
        <ion-title>
            <div text-center>
                <h1>ระบบเช็คชื่อ</h1>
            </div>
        </ion-title>

    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item (click)="Student()">

            <ion-card>
                <img src="http://www.kobe11achillesheel.com/reviews/img/girl-21.png">
            </ion-card>

            <div text-center>
                <h1>นักศึกษา</h1>
            </div>

        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item (click)="teacher()">

            <ion-card>
                <img src="https://images.vexels.com/media/users/3/141633/isolated/preview/a2bf2ebaf3f1c560e74eaca740ff1918-curly-hair-woman-teacher-by-vexels.png">
            </ion-card>

            <div text-center>
                <h1>อาจารย์</h1>
            </div>

        </ion-item>
    </ion-list>
</ion-content>