<!--
  Generated template for the DailyallshowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>รายชื่อนิสิต
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <h1>นิสิตที่มาเรียน</h1>
    <ion-item *ngFor="let item1 of come">
        {{item1}}
    </ion-item>

    <h1>นิสิตที่ขาด</h1>
    <ion-item *ngFor="let item2 of lost">
        {{item2}}
    </ion-item>


</ion-content>