<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <div text-center>
            <ion-title>
                <h1>ข้อมูลนิสิต</h1>
            </ion-title>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-label>ชื่อ-สกุล {{name}} </ion-label>
    <ion-label>รหัสนิสิต {{id}} </ion-label>
    <ion-label>คณะ {{faculty}} </ion-label>
    <ion-label>สาขา {{major}} </ion-label>
    <ion-label>Email {{email}} </ion-label>
    <div text-center align-items-center>
        <button ion-button (click)="logout()">ออกจากระบบ</button>
    </div>
</ion-content>