<!--
  Generated template for the TeacherHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


    <ion-navbar>

        <button ion-button style="float:left" (click)="goinfo()">ข้อมูล</button>

        <button ion-fab style="float:right" (click)="gocreateclass()"><ion-icon name="add-circle"></ion-icon></button>

        <ion-title style="text-align: center">
            <div text-center>
                หน้าหลัก
            </div>
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>


    <h3>รายวิชา</h3>
    <ion-list>
        <ion-item *ngFor="let item of subjectdataTeacher">
            <button ion-item (click)="goinside(item)">
             รหัสวิชา {{item.subject_id}}  {{item.subject_name}}  
            </button>
        </ion-item>
    </ion-list>

</ion-content>