<!--
  Generated template for the InsideSubjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title style="text-align: center">รายวิชา</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item>
        <h3>ชื่อวิชา : {{subjectname}}</h3>
    </ion-item>
    <ion-item>
        <h3>รหัสวิชา-กลุ่ม : {{subjectid}}</h3>
    </ion-item>
    
    <br>
    <div text-center align-items-center>
        <button ion-button (click)="gocreatecheck()">สร้างการเช็คชื่อ</button>

    </div>

    <br>
    <div text-center align-items-center>

        <!-- <button ion-button style="float:center" (click)="gotocheck()">ผลรวมการเช็คชื่อ</button> -->
        <button ion-button style="float:center" (click)="gotodailylist()">สรุปผลการเช็คชื่อรายวัน</button>
    </div>
    <br>
    <ion-content padding>
        <ion-card>



            <ion-card-content>
                <ion-item>
                    <br>
                    <h2>รหัสเข้าชั้นเรียน : {{code}}</h2>
                </ion-item>
            </ion-card-content>

        </ion-card>
        <br>

    </ion-content>