<!--
  Generated template for the CreateGroupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button style="float:left" (click)="goinfo()">ข้อมูล</button>
        <ion-title>
            Student
        </ion-title>
        <button ion-button style="float:right" (click)="gocreateclass()"><ion-icon name="add-circle"></ion-icon></button>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <h3>รายวิชา</h3>
    <div text-center align-items-center>
        <button ion-button style="float:center">ok</button>
    </div>


</ion-content>