<ion-nav [root]="rootPage"></ion-nav>
<!-- <ion-navbar color="dark">
    <ion-tab tabIcon="home" tabTitle="หน้าแรก" [root]="rootRoot"></ion-tab>
    <ion-tab tabIcon="list" tabTitle="โปรไฟล์" [root]="rootRoot"></ion-tab>

    </ion-tabs> -->