<!--
  Generated template for the CreateChecklistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title style="text-align: center">
            รายวิชา
        </ion-title>

    </ion-navbar>

</ion-header>

<ion-content>
    <ion-list style="text-align: center">

        <ion-label>
            <h1>รหัสเช็คชื่อ: {{randomCode}}</h1>
        </ion-label>



    </ion-list>

    <div text-center align-items-center>
        <button ion-button color="secondary" (click)="clickTime()">เริ่มการเช็คชื่อ</button>
    </div>
    <div text-center align-items-center>
        <button ion-button color="danger" (click)="StopTime()">หยุดการเช็คชื่อ</button>
    </div>

    <h3 style="text-align: center">{{min}} : {{sec}} วินาที</h3>
</ion-content>