<!--
  Generated template for the InfoTPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>
            <div text-center>ข้อมูลอาจารย์</div>
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-label>ชื่อ-สกุล {{ name}}</ion-label>
    <ion-label>คณะ {{faculty}} </ion-label>
    <ion-label>Email {{email}} </ion-label>
    <div text-center align-items-center>
        <button ion-button (click)="logout()">ออกจากระบบ</button>
    </div>
</ion-content>