<!--
  Generated template for the DailyCheckListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>สรุปผลการเช็คชื่อรายวัน</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-item *ngFor="let item of daily">
        <button ion-item (click)="gotoshowall(item)">
   วันที่ {{item.datetime}}   <br>
   จำนวนนิสิตที่มา {{item.num_stu}}  ขาด {{item.loststu}}

   </button>
    </ion-item>

</ion-content>